body {
	background-color: #593436;
	font-family: "Short Stack", serif;
	color: white;
}
h2 {
	font-family: "Handlee", serif;
}
h4 {
    font-size: 22pt;
}
a {
	color: white;
}

img.bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
div.text {
	position: absolute;
	width: 70%;
	left: 15%;
	top: 65%;
	color: white;
	font-size: 80pt;
  text-align: center;
  letter-spacing: 25px;
}
img.bg2 {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    z-index: -1;
}
ul.navbar {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px black;
    font-size: 20px;
}
@media () {
    ul.navbar {
        background-color: #efe9de;
    }
}
.navbar li {
    display: inline;
    float: right;
    margin-right: 50px;
}
li a {
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    color: white;
}
li a:hover {
    background-color: tan;
    color: brown;
}

 
@media (max-width: 1401px) {
    div.text {
        font-size: 20pt;
    }
}

div.text2 {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 25%;
    padding: 1%;
    padding-left: 3%;
    padding-right: -3%;
	color: white;
	font-size: 10pt;
	text-align: left;
    color: white;
    background-color: transparent;
}
div.text2bg {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 25%;
    padding: 1%;
    padding-left: 3%;
    padding-right: -3%;
	color: white;
    background-color: #593436;
	font-size: 10pt;
	text-align: left;
    color: transparent;
    opacity: 50%;
}
iframe {
    position: absolute;
    top: 135%;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}
ol {
    margin-top: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 170%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: tan;
}
